h1
  text-align: center
  margin-top: 0
  padding-top: 2em

a
  text-decoration: none


h2
  margin-top: 1.5em

[contenteditable]:hover:not(:focus) 
  outline: 1px dotted #ccc
    
body
  margin: 0

#main
  margin: 0 30%

p.small
  font-size: .8em

th
  text-align: left
  padding-bottom: .3em

table
  border-spacing: 0

td
  vertical-align: top
  border-top: 1px solid #ddd

td:first-child
  width: 5em
  padding-left: .5em

#session-list
  display: table
  border-spacing: 0 1em

  > li
    display: table-row
    height: 2em
    margin-bottom: 20px

    > span, > ul, > button
      display: table-cell
      vertical-align: top

    > ul
      list-style-type: none
      width: 3em

    > span
      width: 6em
	
.sessions
  padding-top: .15em

ul
  padding: 0
  margin: 0

#prefix
  float: left
  padding: 5em 1em 0

code
  border-radius: 3px
  background-color: #f0f0f0
  border: 1px solid #e5e5e5
  padding: 0 5px

footer
  text-align: center
  margin: 2em 5em 0
  border-top: 1px solid #dddddd
  padding: .5em 0 1em

  a
    margin: 0 3em

#banner
  height: 149px
  width: 149px
  overflow: hidden
  padding: 0
  margin: 0
  float: right

  a
    display: block
    width: 190px
    font-size: 14px
    font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans serif
    background-color: #333
    color: #FFF
    word-spacing: 2px
    padding: 5px 15px 5px 25px

    position: relative
    left: 20px
    top: -37px
    text-align: center

    -webkit-transform-origin: 0 0 	
    -webkit-transform: rotate(45deg)
    -webkit-box-shadow: 1px 1px 5px 1px #666

    transform-origin: 0 0	
    transform: rotate(45deg)
    box-shadow: 1px 1px 5px 1px #666

    background-image: linear-gradient(bottom, #000000 3%, #666666 5%, #000000 7%, #000000 93%, #666666 95%, #000000 97%)
    background-image: -webkit-linear-gradient(bottom, #000000 3%, #666666 5%, #000000 7%, #000000 93%, #666666 95%, #000000 97%)

    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.03, #000000), color-stop(0.05, #666666), color-stop(0.07, #000000), color-stop(0.93, #000000), color-stop(0.95, #666666), color-stop(0.97, #000000))
